<mat-card class="m-auto mt-5">
    <mat-card-header>
      <mat-card-title>Book Catalog - Log in</mat-card-title>
    </mat-card-header>
  
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <mat-card-content>
        <mat-form-field class="mt-3">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="login" />
          <mat-error *ngIf="loginForm.get('login').hasError('required')">
            Mandatory field
          </mat-error>
          <mat-error *ngIf="loginForm.get('login').hasError('email')">
            Invalid email
          </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
          />
          <mat-error *ngIf="loginForm.get('password').hasError('required')">
            Mandatory field
          </mat-error>
          <mat-error *ngIf="loginForm.get('password').hasError('minlength')">
            Small password
          </mat-error>
          <mat-icon
            matSuffix
            (click)="showPassword = !showPassword"
            class="c-pointer"
          >
            {{ showPassword ? "visibility_off" : "visibility" }}
          </mat-icon>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Access
        </button>
      </mat-card-actions>
    </form>
    <mat-card-footer>
      <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    </mat-card-footer>
  </mat-card>
  